// Import
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,500;0,700;1,500&display=swap');

// Font Variables
$roboto: 'Montserrat', sans-serif;

// Colors Variables
$bg-orange: #f07841;
$bg-lite-orange: #ffceb8;
$bg-soft-orange: #c0876c;
$bg-lite-yellow: #ffff00;
$bg-blue: #4b2ac4;
$bg-lite-blue: #38abd1;

$bg-green: #7dcf74;
$bg-lite-grey: #dbdbdb;

// functions
@mixin zero-margin($pad-up, $pad-left-right) {
    margin: 0px auto;
    padding: $pad-up $pad-left-right 0 $pad-left-right;
}

@mixin hover-nav-color ($color){
    box-shadow: inset 0 -3px 0 0 $color;
     
    &:hover { color: $color !important; }
}

@mixin input($max-w, $padd) {
    input {
        border-radius: 0 !important;
        max-width: $max-w !important;
        padding: $padd !important;
        &:focus {
            border-color: rgba(239, 176, 104, 0.8) !important;
            box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(239, 169, 104, 0.6) !important;
            outline: 0 none;
        }
    }
}

// Styles
body { font-family: $roboto; }

a { text-decoration: none; }

.row-header { @include zero-margin(110px, 0) }
    
.bg-lite-orange { background-color: $bg-lite-orange; }

nav {
    background-color: $bg-orange;
    height: 75px;

    img {
        width: 50px;
        margin-right: 5px;
    }

    li {
        list-style: none;
        margin: 0 10px;
    }

    .nav-item {
        a {
            color: #FFF !important;
            font-size: 1.25em !important;
        }

        .lite-yellow { @include hover-nav-color($bg-lite-yellow); }

        .blue { @include hover-nav-color($bg-blue); }

        .lite-blue { @include hover-nav-color($bg-lite-blue);  }

        .green { @include hover-nav-color($bg-green); }

        .lite-grey { @include hover-nav-color($bg-lite-grey); }
    }

    #Login {
        color: #FFF;
        font-size: 1.3em;

        &:hover { color: $bg-lite-yellow; }
    }

    #Navbar {
        @include input(150px, .250rem);
    }

    #Navbar.show{
        background-color: $bg-lite-orange;
        display: flex;
        justify-content: center;
        flex-direction: column;
        padding-bottom: 30px;
        border: 1px solid $bg-orange;

        box-shadow: 0 .125rem .25rem rgba(0,0,0,.075) !important;

        li{
            margin-bottom: 10px
        }
    }
}



.modal-header {
    background-color: $bg-orange;
    color: #FFF;

    button {
        background: none;
        color: #FFF;
        border: none;
        font-size: 1.3rem;
    }
}

.modal-body {
    background-color: $bg-lite-orange;
    color: white;
    @include input(none, .250rem);
}

#PopularCategories {
    @include zero-margin(20px, 0);
    padding-bottom: 20px;

    #PetsCategoriesCarousel {
        text-align: center;
        margin-top: 20px;

        figure {
            border: 2px solid #fff;

            img { width: 240px; }
    
            figcaption {
                color: $bg-orange;
                font-size: 1.2em;
                background-color: #FFF;
            }
        }

        .carousel-indicators { bottom: -30px; }
    
        .carousel-control-prev {
            top: -25px; 
            left: 15px;
            width: 5%;
        }
    
        .carousel-control-next {
            top: -25px;
            right: 15px;
            width: 5%;
        }
    }

}

#Tips {
    @include zero-margin(30px, 0);
    padding-bottom: 20px;

    .card {
        a {
            color: $bg-orange;

            &:hover { color: $bg-soft-orange; }
        }
    }
}

footer { 
    background-color: $bg-orange;
    color: #FFF;
    font-weight: 500;

    p {
        height: 100%;
    }
}


